- shingle = @shingles.first
- shingle_colors = ShingleConnection.shingle_colors(shingle)
- shingle_color = shingle_colors.first

#shingle-name
  = shingle["proper_name"]

#main-image-container
  #main-image
    = image_tag(shingle_color["house_thumb_image_url"])

  #shingle-selector
    Select Shingle for Preview
    = select_tag("shingle-names", options_for_select(@shingles.collect{|shingle| [shingle["proper_name"], shingle["uid"]]}))

#swatches
  - shingle_colors.each do |color|
    = image_tag(color["swatch_160x160_url"], "data-color-id" => color["uid"], :alt => color["name"], :class => (color["name"] == shingle_colors.first["name"] ? :selected : nil))

