// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#shingle-name{
  font-size: 200%;
  font-weight: bold;
}

#main-image{
  width: 768px;
  height: 423px;
  margin: 10px 0 10px 0;
  float: left;
}

#swatches{
  clear: both;
}

.color-swatch{
  float: left;
  border: 4px solid transparent;
  margin: 0 10px 10px 0;
}

.color-swatch:hover{
  cursor: pointer;
  border: 4px solid #f29bc1;
  background-color: #f29bc1;
}

.color-swatch.selected{
  border: 4px solid #f29bc1;
  background-color: #f29bc1;
}

.color-swatch img{
  height: 160px;
  width: 160px;
}

.color-swatch .color-name{
  text-align: center;
  width: 160px;
  clear: both;
}

#zip-selector{
  margin-top: 10px;
}
